.date{
    display: flex;
    text-align: right;
    justify-content:space-around;
    justify-items: auto;
    padding-left: 500px;
    margin: 0 10px 10px;
    font-weight: bold;
    color: rgb(75, 0, 141);
}